@model WebMVCFirebaseOffical.Models.LopModels

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    <div class="card-body">
                        <h4 class="card-title">Có chắc xóa thông tin lớp này không ?</h4>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group row">
                            <label for="fname" class="col-sm-1 text-right control-label col-form-label"> @Html.LabelFor(model => model.LO_MA):</label>
                            <label class="col-sm-3 text-left control-label col-form-label">
                                @Html.DisplayFor(model => model.LO_MA)
                            </label>
                        </div>
                        <div class="form-group row">
                            <label for="fname" class="col-sm-1 text-right control-label col-form-label"> @Html.LabelFor(model => model.LO_TEN):</label>
                            <label class="col-sm-10 text-left control-label col-form-label">
                                @Html.DisplayFor(model => model.LO_TEN)
                            </label>
                        </div>
                        <div class="form-group row">
                            <label for="fname" class="col-sm-1 text-right control-label col-form-label"> @Html.LabelFor(model => model.LO_SOLUONG):</label>
                            <label class="col-sm-11 text-left control-label col-form-label">
                                @Html.DisplayFor(model => model.LO_SOLUONG)
                            </label>
                        </div>
                        <div class="form-group row">
                            <label for="fname" class="col-sm-1 text-right control-label col-form-label"> @Html.LabelFor(model => model.LO_THOIGIAN):</label>
                            <label class="col-sm-10 text-left control-label col-form-label">
                                @Html.DisplayFor(model => model.LO_THOIGIAN)
                            </label>
                        </div> 
                    </div>
                    <div class="border-top">
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="fname" class="col-sm-1 text-right control-label col-form-label"></label>
                                <div class="col-md-9">
                                    <button type="submit" class="btn btn-danger"> Delete</button>

                                    <button type="button" class="btn btn-dark"> @Html.ActionLink("Trở về", "Index", null, new { style = "Color:White" })</button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            }
        </div>

    </div>
</div>
 
