@model WebMVCFirebaseOffical.Models.KhoaModels

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row">
        <div class="col-12">
            <div class="card">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <div class="card-body">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group row">
                                <label for="fname" class="col-sm-1 text-right control-label col-form-label"> @Html.LabelFor(model => model.KH_MA):</label>
                                <label class="col-sm-3 text-left control-label col-form-label">
                                    @Html.DisplayFor(model => model.KH_MA)
                                </label>
                            </div>
                            <div class="form-group row">
                                <label for="fname" class="col-sm-1 text-right control-label col-form-label"> @Html.LabelFor(model => model.KH_TEN):</label>
                                <label class="col-sm-10 text-left control-label col-form-label">
                                    @Html.DisplayFor(model => model.KH_TEN)
                                </label>
                            </div> 
                        </div>
                        <div class="border-top">
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="fname" class="col-sm-1 text-right control-label col-form-label"></label>
                                    <div class="col-md-9">
                                        <button type="button" class="btn btn-success">@Html.ActionLink("Sửa", "Edit", new { id = Model.KH_MA }, new { style = "Color:White" })</button>

                                        <button type="button" class="btn btn-danger">@Html.ActionLink("Trở về", "Index", null, new { style = "Color:White" })</button>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>